<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="outgo-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :group_id %>
    <%= number_input f, :group_id %>
    <%= error_tag f, :group_id %>
  
    <%= label f, :payment %>
    <%= number_input f, :payment %>
    <%= error_tag f, :payment %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
